<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>NBA Stats</title>

    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    
    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/bootstrap/css/dashboard.css" rel="stylesheet">

  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	    <span class="sr-only">Toggle navigation</span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	  </button>
	  <a class="navbar-brand" href="#">NBA Stats</a>
	</div>
	<div id="navbar" class="navbar-collapse collapse">
	  <ul class="nav navbar-nav navbar-right">
	    <li><a href="/">Overview</a></li>
	    <li><a href="/players/info">Players</a></li>
	    <li><a href="/salaries/trend">Salaries</a></li>
	  </ul>
	</div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
	<div class="col-sm-3 col-md-2 sidebar">
	  <ul class="nav nav-sidebar">
	    <li {% if position=='All Players' %}class="active"{% endif %}><a href="/overview/{{year}}">All</a></li>
	    <li {% if position=='Center' %}class="active"{% endif %}><a href="/overview/{{year}}/c">Center</a></li>
	    <li {% if position=='Power Forward' %}class="active"{% endif %}><a href="/overview/{{year}}/pf">Power Forward</a></li>
	    <li {% if position=='Small Forward' %}class="active"{% endif %}><a href="/overview/{{year}}/sf">Small Forward</a></li>
	    <li {% if position=='Shooting Guard' %}class="active"{% endif %}><a href="/overview/{{year}}/sg">Shooting Guard</a></li>
	    <li {% if position=='Point Guard' %}class="active"{% endif %}><a href="/overview/{{year}}/pg">Point Guard</a></li>	    
	  </ul>
	</div>
	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	  <div class="page-header">
	    <h1>Season {{season}} <small>{{position}}</small></h1>
	    <div class="dropdown" align="right">
	      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
	      Year
	      <span class="caret"></span>
	      </button>
	      <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">
		{% for year in years %}
		<li role="presentation"><a role="menuitem" tabindex="-1" href="/overview/{{year}}">{{year}}</a></li>
		{% endfor %}
	      </ul>
	    </div>  <!-- end of dropdown button -->
	  </div>  <!-- end of page-header -->
	  
	  <div class="panel panel-default">
	    <h2 class="panel-title panel-heading">Points Per Game Leaders</h2>
	    <div class="table-responsive">
	      <table class="table table-striped">
		<thead>
		  <tr>
		    <th>PLAYER</th>
		    <th>POS</th>
		    <th>TEAM</th>
		    <th>GP</th>
		    <th>MIN</th>
		    <th>PTS</th>
		    <th>FG%</th>
		    <th>3P%</th>
		    <th>FT%</th>
		  <tr>  
		</thead>
		<tbody>
		  {% for item in data[0] %}
		  <tr>
		    <td>{{item.PLAYER}}</td>
		    <td>{{item.POS}}</td>
		    <td>{{item.TEAM}}</td>
		    <td>{{item.GP}}</td>
		    <td>{{item.MIN}}</td>
		    <td>{{item.PPG}}</td>
		    <td>{{item['FG%']}}</td>
		    <td>{{item['3P%']}}</td>
		    <td>{{item['FT%']}}</td>
		  </tr>
		  {% endfor %}
		</tbody>
	      </table>
	    </div>
	  </div>

	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h3 class="panel-title">Distribution of Points Per Game</h3>
	    </div>
	    <div class="panel-body">
	      {{plots[0]}}
	    </div>
	  </div>

	  <div class="page-header">
	    <h1></h1>
	  </div>

	  <div class="panel panel-default">
	  <h2 class="panel-heading panel-title">Rebounds Per Game Leaders</h2>
	  <div class="table-responsive">
	    <table class="table table-striped">
	      <thead>
		<tr>
		  <th>PLAYER</th>
		  <th>POS</th>
		  <th>TEAM</th>
		  <th>GP</th>
		  <th>MIN</th>
		  <th>OFFR</th>
		  <th>DEFR</th>
		  <th>REB</th>
		<tr>  
	      </thead>
	      <tbody>
		{% for item in data[1] %}
		<tr>
		  <td>{{item.PLAYER}}</td>
		  <td>{{item.POS}}</td>
		  <td>{{item.TEAM}}</td>
		  <td>{{item.GP}}</td>
		  <td>{{item.MIN}}</td>
		  <td>{{item.OFFR}}</td>
		  <td>{{item.DEFR}}</td>
		  <td>{{item.RPG}}</td>
		</tr>
		{% endfor %}
	      </tbody>
	    </table>
	  </div>
	  </div>
	  
	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h3 class="panel-title">Distribution of Rebounds Per Game</h3>
	    </div>
	    <div class="panel-body">
	      {{plots[1]}}
	    </div>
	  </div>

	  <div class="page-header">
	    <h1></h1>
	  </div>

	  <div class="panel panel-default">
	  <h2 class="panel-heading panel-title">Assists Per Game Leaders</h2>	
	  <div class="table-responsive">
	    <table class="table table-striped">
	      <thead>
		<tr>
		  <th>PLAYER</th>
		  <th>POS</th>
		  <th>TEAM</th>
		  <th>GP</th>
		  <th>MIN</th>
		  <th>AST</th>
		  <th>PTS</th>
		<tr>  
	      </thead>
	      <tbody>
		{% for item in data[2] %}
		<tr>
		  <td>{{item.PLAYER}}</td>
		  <td>{{item.POS}}</td>
		  <td>{{item.TEAM}}</td>
		  <td>{{item.GP}}</td>
		  <td>{{item.MIN}}</td>
		  <td>{{item.APG}}</td>
		  <td>{{item.PPG}}</td>
		</tr>
		{% endfor %}
	      </tbody>
	    </table>
	  </div>
	  </div>
	  
	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h3 class="panel-title">Distribution of Assists Per Game</h3>
	    </div>
	    <div class="panel-body">
	      {{plots[2]}}
	    </div>
	  </div>

	  <div class="page-header">
	    <h1></h1>
	  </div>

	  <div class="panel panel-default">
	  <h2 class="panel-heading panel-title">Steals Per Game Leaders</h2>	
	  <div class="table-responsive">
	    <table class="table table-striped">
	      <thead>
		<tr>
		  <th>PLAYER</th>
		  <th>POS</th>
		  <th>TEAM</th>
		  <th>GP</th>
		  <th>MIN</th>
		  <th>STL</th>
		<tr>  
	      </thead>
	      <tbody>
		{% for item in data[3] %}
		<tr>
		  <td>{{item.PLAYER}}</td>
		  <td>{{item.POS}}</td>
		  <td>{{item.TEAM}}</td>
		  <td>{{item.GP}}</td>
		  <td>{{item.MIN}}</td>
		  <td>{{item.SPG}}</td>
		</tr>
		{% endfor %}
	      </tbody>
	    </table>
	  </div>
	  </div>
	  
	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h3 class="panel-title">Distribution of Steals Per Game</h3>
	    </div>
	    <div class="panel-body">
	      {{plots[3]}}
	    </div>
	  </div>

	  <div class="page-header">
	    <h1></h1>
	  </div>

	  <div class="panel panel-default">
	  <h2 class="panel-heading panel-title">Blocks Per Game Leaders</h2>	
	  <div class="table-responsive">
	    <table class="table table-striped">
	      <thead>
		<tr>
		  <th>PLAYER</th>
		  <th>POS</th>
		  <th>TEAM</th>
		  <th>GP</th>
		  <th>MIN</th>
		  <th>BLK</th>
		<tr>  
	      </thead>
	      <tbody>
		{% for item in data[4] %}
		<tr>
		  <td>{{item.PLAYER}}</td>
		  <td>{{item.POS}}</td>
		  <td>{{item.TEAM}}</td>
		  <td>{{item.GP}}</td>
		  <td>{{item.MIN}}</td>
		  <td>{{item.BPG}}</td>
		</tr>
		{% endfor %}
	      </tbody>
	    </table>
	  </div>
	  </div>

	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h3 class="panel-title">Distribution of Blocks Per Game</h3>
	    </div>
	    <div class="panel-body">
	      {{plots[4]}}
	    </div>
	  </div>
	  
	</div>
      </div>
    </div>

        <!-- Bootstrap core JavaScript
	     ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  </body>
</html>
