<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>NBA Players</title>

    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/bootstrap/css/dashboard.css" rel="stylesheet">

  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	    <span class="sr-only">Toggle navigation</span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	  </button>
	  <a class="navbar-brand" href="#">NBA Stats</a>
	</div>
	<div id="navbar" class="navbar-collapse collapse">
	  <ul class="nav navbar-nav navbar-right">
	    <li><a href="/overview/2014">Overview</a></li>
	    <li><a href="/players/info">Players</a></li>
	    <li><a href="/salaries/trend">Salaries</a></li>
	  </ul>
	</div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
	<div class="col-sm-3 col-md-2 sidebar">
	  <ul class="nav nav-sidebar">
	    <li {% if option=='info' %}class="active"{% endif %}><a href="/players/info">League Info</a></li>
	    <li {% if option=='current' %}class="active"{% endif %}><a href="/players/current">Current Players</a></li>
	    <li {% if option=='historic' %}class="active"{% endif %}><a href="/players/historic">Historic Players</a></li>
	  </ul>
	</div>
	
	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	  <div>
	    <ul class="nav nav-tabs">
	      <li role="presentation" {% if position=='c' %}class="active"{% endif %}><a href="c">Center <span class="badge">{{count[0]}}</span></a></li>
	      <li role="presentation" {% if position=='pf' %}class="active"{% endif %}><a href="pf">Power Forward <span class="badge">{{count[1]}}</span></a></li>
	      <li role="presentation" {% if position=='sf' %}class="active"{% endif %}><a href="sf">Small Forward <span class="badge">{{count[2]}}</span></a></li>
	      <li role="presentation" {% if position=='sg' %}class="active"{% endif %}><a href="sg">Shooting Guard <span class="badge">{{count[3]}}</span></a></li>
	      <li role="presentation" {% if position=='pg' %}class="active"{% endif %}><a href="pg">Point Guard <span class="badge">{{count[4]}}</span></a></li>
	    </ul>
	  </div>

	  <div class="list-group col-sm-3 col-md-3 col-xs-6">
	    {% for name in players[0] %}
	    <a href="/players/{{option}}/{{name|replace(' ', '-')|lower}}" class="list-group-item">{{name}}</a>
	    {% endfor %}
	  </div>
	  <div class="list-group col-sm-3 col-md-3 col-xs-6">
	    {% for name in players[1] %}
	    <a href="/players/{{option}}/{{name|replace(' ', '-')|lower}}" class="list-group-item">{{name}}</a>
	    {% endfor %}
	  </div>
	  <div class="list-group col-sm-3 col-md-3 col-xs-6">
	    {% for name in players[2] %}
	    <a href="/players/{{option}}/{{name|replace(' ', '-')|lower}}" class="list-group-item">{{name}}</a>
	    {% endfor %}
	  </div>
	  <div class="list-group col-sm-3 col-md-3 col-xs-6">
	    {% for name in players[3] %}
	    <a href="/players/{{option}}/{{name|replace(' ', '-')|lower}}" class="list-group-item">{{name}}</a>
	    {% endfor %}
	  </div>
	  
	  
	</div>
	
      </div>
    </div>

        <!-- Bootstrap core JavaScript
	     ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  </body>
</html>
